# INSTRUCTIONS:
# Duplicate this file into `.env.local`, which is ignored by git,
# and fill in the values.

# Pusher — for real-time p2p between clients
## Create a free account at https://pusher.com
NEXT_PUBLIC_PUSHER_APP_KEY=fixme
NEXT_PUBLIC_PUSHER_CLUSTER=fixme